* {background-color: beige;

  font-family: Arial, sans-serif;
  
}



.myPortfolio {
  text-align: center;
  font-size: 2em;
  color: rgb(0, 0, 0);
  border: .5px solid black;
  padding: 10px;
  border-radius: 0.5em;
}

.Bio {
  border: .5px solid black;
  padding: 10px;
  border-radius: 0.5em;
  text-align: center;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
}

.navBar {
    text-align: center;
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}   


footer {
  text-align: center;
  font-size: 0.8em;
  color: rgb(0, 0, 0);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.list  {

    border: .5px solid black;
    padding: 10px;
    border-radius: 0.5em;
    margin: 10px;
    padding: 10px 20px;
}