*{
    background-color: beige;
    color: black;
    padding: 10px;
    border-radius: 0.5em;
    text-align: center;
}

.social_media {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.icons {
    border: radius 25px;
    border: 2px solid black;
    width: 50px;
    height: 50px;
}