*{
    background-color: beige;
    font-family: Arial, sans-serif;
    text-align: center;
    
}

h2 {
    border: .5px solid black;
    padding: 10px;
    border-radius: 0.5em;
    margin: 10px;
    padding: 10px 20px;
}

h3 {
    border: .5px solid black;
    padding: 10px;
    border-radius: 0.5em;
    margin: 10px;
    padding: 10px 20px;
}
