body {background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    flood-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin: 50px;
    padding: 50px;
}
h1{color:green;}

.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}